<div class="container-fluid">

    <div class="row">

        <div class="section" id="header">
          <img class="header-image" src="<%= asset_path 'coderfactory.png' %>">
          <h1><b>Hack The Media</b></h1>
                    <h5 class="info">September TBD<sup>th</sup> &ndash; TBD<sup>th</sup></h5>
          <h5 class="info">Aura Creative</h5>
          <h5 class="info">World Wide</h5>
          <br>
          <h5 class="info">You don't want to miss this! Leave your email and we'll send out a weekly update.</h5>
                    <h1>Insert Mailchimp Form Here</h1>
        </div>
<nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div style="border-bottom: 1px solid #e7e7e7;" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a scroll_to="header" href="#">Hack The Media</a></li>
              <li><a scroll_to="welcome" href="#">Welcome</a></li>
              <li><a scroll_to="about" href="#">About</a></li>
              <li><a scroll_to="faq" href="#">FAQ</a></li>
              <li><a scroll_to="sponsor" href="#">Sponsors</a></li>
            </ul>
          </div>
        </div>
      </nav>


        <div class="section_skewed1" id="welcome">
        <!--<div class="snow">-->
          <div class="content">
            <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com/thecoderfactory"><img src="<%= asset_path 'facebook.svg' %>"></a>

            <a target="_blank" href="https://twitter.com/coderfactory"><img src="<%= asset_path 'twitter.svg' %>"></a>
            </div>
            <br>
                        <p>Come together for a week with the brightest developers, designers, and journalists in the world to make something <i>amazing.</i></p>

            <p>Whether it's your first hackathon, or your hundredth. You and your team will be applying your knowledge of development, marketing and media to create innovative solutions to real problems.</p>

            <p>No matter your skill level, we want everyone to have the opportunity to grow and learn. Media is important and we know what it takes to host a great hackathon &mdash; <b>creation</b>, <b>community</b>, and <b>mentorship</b> &mdash; an environment where Media and Technology can grow together naturally.</p>
          </div>
        <!--</div>-->

        </div>



        <div class="section" id="about">
        <div class="content" style="margin-bottom:0;">
          <h3>About</h3>
             <p>At Coderfactory, we are building a community where people aren’t afraid to <b>challenge the norm</b>, where you're encouraged to try something new. It’s about showing people they can learn to love technology &mdash; because <b>technology is changing the world.</b></b></p>

                    <p>Traditionally, technology has been left to expert programmers and nerds. It’s time to abandon these clichés and introduce a new <b>perspective.</b></p>

                    <p>We need to redefine what it means to use technology, Hack The Media is about different disciplines coming together. The world of media is changing and we need to facilitate rich ideas and <b>open innovation.</b></p><br>

          <p class="hacker_intro"><b>Taking part in Hack The Media means being a:</b></p>

          <div class="bs-example">
              <div class="panel-group" id="accordion">
                  <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              Creator <span class="glyphicon glyphicon-menu-down " style="font-size:0.7em" aria-hidden="true"></span>
                          </h4>
                      </div>
                      </a>
                      <div id="collapseThree" class="panel-collapse collapse">
                          <div class="panel-body">
                                        <p class="drawer">Everyone can create. We all have ideas, and Hack The Media is how those ideas will become reality. <i>When was the last time you got excited about where media is going?</i> We want you to push the boundaries of new media and take risks, whether it be by livestreaming your whole project or by working with people you've just met. </p>

                    <p class="drawer">With our mentor's and the world's developers, Hack The Media will have all the resources you need to change media in just a week. It’s not enough to just wait for change to happen. As a creator, whether that be a journalist, developer, or economist, you need to have the passion and determination to lead.</p>

                    <p class="drawer">We are here to help you step out of your comfort zone, we have an awesome lineup of sponsor-led tech talks and lead-up intro-level workshops that let anyone learn what it takes to change the media as we know it.</p>

                    <p class="drawer">As each group grows, our whole media will flourish, giving rise to an environment where journalist and creators produce the best content and show what they are capable of.</p>

                    <br>
                    <p><b>Dream Big and Lead.</b></p>
                          </div>
                      </div>
                  </div>
                  
              <div class="panel panel-default">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              Community Leader <span class="glyphicon glyphicon-menu-down " style="font-size:0.7em" aria-hidden="true"></span>
                          </h4>
                      </div>
                      </a>

                      <div id="collapseTwo" class="panel-collapse collapse">
                          <div class="panel-body">
                    <p class="drawer">At Hack The Media, everything changes. It's going to be an organized chaos. It's one week and you've got no idea where you're headed, and that’s okay. You're a leader, a blogger, a vlogger, or a livestreamer.</p>

                    <p class="drawer">At the center of this is you, the single most important aspect of Hack The Media. We take pride in helping you build connections, and contetn. This is why, we strive to create more than just a weekend experience.</p>

                    <p class="drawer">We don’t just want you to build something; we want you to build relationships with the incredible people around you. At the end of the week, it's the final pitches, beers, and long-term connections that we look forward to.</p>
                          </div>
                      </div>
                  </div>
                  
                  <div class="panel panel-default">
                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                      <div class="panel-heading">
                          <h4 class="panel-title">
                              Mentor <span class="glyphicon glyphicon-menu-down " style="font-size:0.7em" aria-hidden="true"></span>
                          </h4>
                      </div>
                      </a>
                      <div id="collapseOne" class="panel-collapse collapse">
                          <div class="panel-body">
                              <p class="drawer">No one should be afraid to ask for help.</p>

                    <p class="drawer">If you plan on working with a specific technology, we can help you find someone who knows what you need. Our mentors span across industries, television, technology, investing, blogging, and everything in between. The mentors are there to help you out.</p>

                    <p class="drawer">And remember, our mentors are people too! You’re allowed (and encouraged) to have casual conversations. Get to know the people around you. Chances are someone has the same questions!</p>

                    <p class="drawer">Through Hack The Media, we are encouraging everyone to use their own knowledge to help their fellow humans. We all have different strengths and talents. The spirit and courage to change the media allows each person to be both a mentor and a mentee. </p>
                          </div>
                      </div>
                  </div>
                </div>
              </div>
              <br><br>
          <p class="hacker_question"><big><b>We want to know: what does Hack The Media mean to <i>you?</i></b></big></p>
        </div>
        </div>

        <div class="section_skewed" id="faq">
          <!--<div class="goggles">-->
          <div class="content" id="questions">
                <h3>Frequently Asked Questions</h3>
                        <div class="button-holder">
                <ul class="nav nav-pills white">
                    <li class="active"><a data-toggle="pill" href="#hacking">Hacking</a></li>
                    <li><a data-toggle="pill" href="#travel">Travel</a></li>
                    <li><a data-toggle="pill" href="#what-if">What If...</a></li>
                </ul>
                <br>
                        </div>
                        <br>
                <div class="tab-content">
                    <div id="hacking" class="tab-pane fade in active">
                    <p class="question"><span class="q">When/where is Hack The Media?</span><br>
                                        <span class="a">Hack The Media will open the doors for registration soon. Our physical space is at Aura Creative in Redfern, Australia. However, you're free to compete from anywhere.</span>
                    </p>

                    <p class="question"><span class="q">What should I bring?</span><br>
                    <span class="a">Bring your chargers, laptop, phone, toiletries, water bottle, a change of clothes, and a well-rested and open mind. We'll do our best to get you anything else you need.</span>
                    </p>

                    <p class="question"><span class="q">What can't I bring?</span><br>
                    <span class="a">Weapons of any kind, drugs, you get the idea.</span>
                    </p>

                    <p class="question"><span class="q">What can I use?</span><br>
                    <span class="a">Whatever you feel like, Ruby on Rails, Swift, anything!</span>
                    </p>
                    </div>
                    <div id="travel" class="tab-pane fade">
                    <p class="question"><span class="q">How will I get there?</span><br>
                    <span class="a">It's a short walk from Redfern station.</span>
                    </p>

                    <p class="question"><span class="q">If I fly, will I be reimbursed?</span><br>
                    <span class="a">This is highly unlikely.</span>
                    </p>
                    </div>
                    <div id="what-if" class="tab-pane fade">
                    <p class="question"><span class="q">What if I don't have an idea?</span><br>
                    <span class="a">No problem! A lot of people arrive at a hackathon with little to no idea of what they'll be building. You can join a team that has an idea you want to work on. Aim for a prize, or don't. Totally up to you.</span>
                    </p>

                    <p class="question"><span class="q">What if I don't have a team?</span><br>
                    <span class="a">A few weeks before Hack The Media, we'll try to connect everyone looking for a team. If this is your first hackathon, there will definitely be others who don't have prior experience that are looking for team members, so don't worry.</span>
                    </p>

                    <p class="question"><span class="q">What if I live far away?</span><br>
                    <span class="a">You can compete online, the world is a lot smaller with the help of the internet.</span>
                    </p>

                    <p class="question"><span class="q">What if I don't want to compete?</span><br>
                    <span class="a">We invite you to come see the final pitches on Sunday &mdash; online or in person &mdash; as everyone finishes up their projects. We'll be sharing more information about public access soon.</span>
                    </p>
                    </div>
                </div>
            <p class="faq_email"><br><br>If you have any other questions, email us at&nbsp;<a href="mailto:team@hackthe.media">team@hackthe.media</a>!</p>
          </div>
          <!--</div>-->
        </div>


        <div class="section" id="sponsor">
        <div class="content" style="padding-top:0; padding-bottom:0;">
          <h3>Sponsorship</h3>
          <p>Hack The Media is the gateway between you and the top tech and media talent on the planet. Whether you come to network, promote brand awareness, or get feedback on a product or API, we’ll help you connect with the right people who help you and your business.</p>
          <br>

          <p><b><i>Once you know how to code, you can build any application you like - a world of possibilities opens up to you. And I'm here to tell you, that anyone can do it, you don't need to be a maths wizz or computer nerd to be a coder. And it's fun! -- Pete Argent, Director, Coder Factory</i></b></p>
          <br>

                    <p class="sponsor_center">Interested in sponsoring? Want more information?<br>
                    
                    Shoot us an email at&nbsp;<a href="mailto:sponsorships@hackthe.media">sponsorships@hackthe.media</a>.<br><br>

                    <i>We have an awesome lineup of sponsors for you.</i><br>

                    <i>Come back soon for company logos.</i></p>
        </div>
        </div>


        <div class="section" id="footer">
          <div class="footer_content" style="padding:0;">
          <h3>Hack The Media</h3>

          <p>&copy; 2015 Hack The Media</p>
          <p><a href="mailto:team@hackthe.media">team@hackthe.media</a></p>
                    
          <div class="social-icons">
            <a target="_blank" href="https://www.facebook.com/thecoderfactory"><img src="<%= asset_path 'facebook.svg' %>"></a>

            <a target="_blank" href="https://twitter.com/coderfactory"><img src="<%= asset_path 'twitter.svg' %>"></a>
          </div>
          </div>
        </div>
    </div>
  </div>